URxvt*.background:	[70]#221819
URxvt*.borderLess:	true
URxvt*.color0:	#221819
URxvt*.color1:	#949ba0
URxvt*.color10:	#0792c8
URxvt*.color11:	#088cc8
URxvt*.color12:	#bbc1c8
URxvt*.color13:	#85b1c8
URxvt*.color14:	#0892c8
URxvt*.color15:	#d7b071
URxvt*.color2:	#9ca0a0
URxvt*.color3:	#0262a0
URxvt*.color4:	#B3D0E2
URxvt*.color5:	#221819
URxvt*.color6:	#407da0
URxvt*.color7:	#0087af
URxvt*.color8:	#404040
URxvt*.color9:	#64abc8
URxvt*.cursorblink:	true
URxvt*.cursorunderline:	false
URxvt*.depth:					32
URxvt*.dynamicColors:			on
URxvt*.externalborder:			0
URxvt*.font:					-*-tewi-medium-r-*-*-11-*-*-*-*-*-*-*
URxvt*.foreground:				#FEF7C5W
URxvt*.geometry:				229x48
URxvt*.internalborder:			0
URxvt*.jumpscroll:				false
URxvt*.keysym.C-u:				perl:url-select:select_next
URxvt*.matcher.button:			1
URxvt*.mouseWheelScrollpage:	true
URxvt*.perl-ext-common:			tabbedex,matcher,url-select
URxvt*.secondaryWheel: 			true
URxvt*.savelines:				1000
URxvt*.scrollBar:				false
URxvt*.scrollstyle:				plain
URxvt*.shading:					110
URxvt*.tabbed.tab-bg:			3
URxvt*.tabbed.tab-fg:			0
URxvt*.tabbed.tabbar-bg:		0
URxvt*.tabbed.tabbar-fg:		2
URxvt*.tabbed.new-button: 		false
URxvt*.tabbed.autohide: 		true
URxvt*.keysym.Control-t: perl:tabbedex:new_tab
URxvt*.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt*.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab
!URxvt*.transparent:			true
!URxvt.kuake.hotkey: 			F10
URxvt*.underlineURLs:			true
URxvt*.url-launcher:			firefox
URxvt*.url-select.underline:	true

rofi.background:		#221819
rofi.bordercolor:		#221819
rofi.borderwidth:		0
rofi.bw:				0
rofi.columns:			2
rofi.fixed-num-lines:	false
rofi.font:				Ohsnap.Icons-9
rofi.foreground:		#FEF7C5W
rofi.highlightbg:		#FEF7C5W
rofi.highlightfg:		#221819
rofi.hmode:				false
rofi.key:				mod1+grave
rofi.opacity:			90
rofi.padding:			2
rofi.rkey:				mod4+F2
rofi.skey:				mod4+F3
rofi.ssh-set-title:		true
rofi.terminal:			x-terminal-emulator
rofi.width:				100
rofi.xoffset:			0
rofi.yoffset:			-2
